button {
    padding: 1vh 2vw;
    margin: 2vh;
    width: auto;
    font-weight: 600;
    font-size: 1.1em;
    border-radius: 10px;
    border: none;
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
}
