.Welcome {
    width: 100%;
    height: 100%;
    color: white;

    &::before {
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-image: url('../../media/images/FamilyCamping.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.5;
    }

    h1 {
        position: relative;
        z-index: 1;
        color: $secondary-contrast-color-3;
    }

    .row {
        position: relative;
        z-index: 1;
        align-items: center;
        justify-content: center;
    }

    [class^='col-'] {
        padding: 5vh;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .navigation-column {
        p {
            display: block-inline;
            width: 100%;

            &::before,
            &::after {
                content: ' ';
                display: inline-block;
                width: 10%;
                margin: 0 0.6rem;
                transform: translateY(-0.3rem);
                border-bottom: solid 2px #fff;
            }
        }
    }

    button {
        width: 100%;
    }
}
