<!DOCTYPE html>
<html>
    <head>
        <title>Main Page</title>
        <style>
            body {
                padding: 0;
                margin: 0;
            }
            header nav menu {
                display: flex;
                width: 100%;
                /*background-color: green;*/
                margin: 0;
                justify-content: center;
                padding: 0;
            } 
            header nav menu element{
                display: block;
                width: 30%;
                height: 50px;
                /*background-color: red;*/
                text-align: center;
                margin: auto;
                padding-top: 25px;
            }   
            section article{
                display: block;
                width: 90%;
                min-height: 200px;
                text-align: justify;
                margin: auto;
                padding-top: 25px;
            }
            p {
                text-align: justify;
                margin: 10px;
                padding: 5px;
                text-indent: 50px;
            }
        </style>
    </head>
    <body>
        <header>
            <nav>
                <menu>
                    <element>
                        Home        
                    </element>
                    <element>
                        About
                    </element>
                    <element>
                        Contact
                    </element>
                </menu>
            </nav>
        </header>
        
        <section>
            <article>
                <header>
                    <h1>End point</h1>
                </header>
                <section>
                    <ul>
                        <li><a href="/api">API Documentation</a></li>
                        <li><a href="/api/get/poland/krakow/10">API test</a></li>
                        <li><a href="/admin">Admin Panel</a></li>
                    </ul>
                   
                </section>
            </article>
            <article>
                <header>
                    <h1>Main Page</h1>
                </header>
                <section>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae aliquet purus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Suspendisse ac congue nisl, quis egestas libero. Mauris eleifend congue gravida. Nulla sit amet velit nec dolor luctus pellentesque et et augue. In sapien lacus, fermentum vitae faucibus semper, aliquam sed neque. Quisque vel maximus metus, quis bibendum purus. Integer sit amet porta tortor.
                    </p><p>Morbi a dictum libero, sit amet iaculis lacus. Cras vestibulum ex luctus dolor scelerisque sodales. Curabitur lobortis pharetra suscipit. Nullam lacinia purus semper, sodales lorem at, luctus risus. Cras vel enim sed enim ornare molestie. Cras vel nisl tincidunt, congue massa ac, bibendum sapien. Fusce laoreet dignissim nulla quis bibendum.
                    </p><p>Cras eu pretium mauris. Fusce ante erat, porttitor et interdum non, tincidunt non mi. Nullam auctor sollicitudin magna. Aliquam pulvinar eros mattis lacinia fringilla. Nulla sit amet nibh libero. Vestibulum et rutrum lacus, at tempus diam. Ut scelerisque, purus id eleifend dictum, tellus nibh rutrum nisl, ac blandit elit elit nec metus. Nunc efficitur ut orci eu dapibus. Phasellus nec quam dui. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque eu tortor convallis, placerat est id, laoreet dui. Etiam vitae ligula ut ipsum feugiat volutpat. Duis mattis egestas urna, vel volutpat leo imperdiet vitae.
                    </p><p>Nullam tristique commodo eros, tristique imperdiet magna blandit nec. In varius, purus in rhoncus consequat, lorem nunc aliquet nisl, id convallis lectus magna nec massa. Quisque finibus placerat nisl nec suscipit. Sed ac mi vitae lacus mattis tristique. Sed placerat mollis neque, quis gravida est viverra et. Sed porttitor, nunc in euismod varius, ex nunc mollis justo, at lobortis dolor turpis et nisl. Sed commodo luctus hendrerit. Nunc in posuere nisi, pharetra blandit tortor. Donec in tellus fringilla, accumsan metus sit amet, tincidunt ante. Integer vestibulum tellus eros, vitae imperdiet dui blandit nec. Vestibulum maximus nisi sed odio malesuada, interdum bibendum erat ullamcorper.
                    </p><p>Suspendisse aliquam et sem nec sodales. Praesent feugiat, sapien at tempor egestas, sapien metus sollicitudin odio, sit amet consequat magna leo ut nunc. Vestibulum eu scelerisque nunc, at posuere justo. Nam at gravida nulla. Nullam aliquam libero sit amet faucibus tincidunt. In eget diam dignissim, tempus sapien quis, malesuada nulla. Morbi semper suscipit mauris, nec scelerisque lectus vehicula vel. Sed tellus leo, ullamcorper non viverra vitae, maximus vitae mauris. Duis risus erat, interdum quis ornare nec, sagittis iaculis felis. Etiam ut dolor ut ipsum finibus aliquam non in dolor. Etiam rhoncus placerat bibendum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    </p><p>Cras ut massa purus. Curabitur id lorem lacus. Nulla et orci vehicula, tristique arcu interdum, congue risus. Aenean vitae lacus eu tortor iaculis vehicula sit amet a mauris. Aliquam luctus lorem at lacinia dignissim. Nam id magna lacus. Integer ullamcorper urna eget elit congue, eget faucibus magna ornare. Cras porta odio et pretium facilisis. Aenean fermentum velit in nibh tempor congue. Nulla id efficitur ante. Fusce vestibulum eros sem, ac lacinia nibh interdum quis. In dapibus, sapien nec accumsan pretium, velit tellus eleifend arcu, et dictum nibh est ac justo. Etiam nec elit lacinia, suscipit ipsum ut, pulvinar est. Nam vel nisi metus.
                    </p><p>Donec commodo ante vitae turpis vehicula, at semper eros commodo. Nulla consequat dignissim ante sit amet ullamcorper. Proin placerat mollis imperdiet. Integer ac fringilla ipsum. Mauris at porta dui. Nunc et arcu sit amet nisi faucibus tristique. Aliquam eget nisi eget nulla ornare consectetur a a quam. Duis accumsan convallis dui ut euismod. Nulla ac risus vel dolor volutpat consectetur. Nullam porta rutrum risus, vitae finibus velit feugiat et. Proin ultricies volutpat arcu, in rhoncus sapien auctor ac. Nunc purus eros, ornare quis aliquam ac, ultrices in ex. Praesent cursus venenatis risus, id tristique ligula. Fusce molestie libero metus, congue semper lorem scelerisque congue. Etiam sit amet orci malesuada, fermentum lacus sit amet, tincidunt quam. Phasellus mattis eu nulla vitae pretium.
                    </p><p>Maecenas placerat dapibus nulla ut dignissim. Donec dignissim a libero in dapibus. In aliquam elit efficitur sapien vehicula, vel placerat libero elementum. Vestibulum fringilla nisl leo, a vestibulum nisl ultricies in. Vivamus volutpat scelerisque tincidunt. Integer molestie, massa sed iaculis eleifend, dolor felis tempor lectus, eget rutrum orci purus ac lorem. Mauris ut egestas arcu, ut porttitor mauris. Pellentesque pretium, ex id gravida pharetra, tortor tortor tincidunt risus, finibus congue dui sem vitae diam. Nunc non porta justo, in finibus metus. Duis finibus mi ut maximus laoreet. Mauris vel libero vitae justo sodales porta. Proin rhoncus, tortor id consectetur interdum, nulla dolor eleifend augue, fermentum dignissim dui quam vel magna. Ut bibendum nibh non pretium laoreet. Nullam erat lorem, semper et lorem sed, tristique consequat risus. Phasellus porttitor hendrerit eleifend.</p>
                </section>
            </article>
            
        </section>
    </body>
</html>