$primary-color-1: #65cd65;
$primary-color-2: #65cd65;
$primary-color-3: #1ea01e;
$primary-color-4: #0e820e;
$primary-color-5: #006100;

$secondary-color-1: #0e820e;
$secondary-color-2: #2e8585;
$secondary-color-3: #167878;
$secondary-color-4: #0a6161;
$secondary-color-5: #004949;

$tertiary-color-1: #c6ee76;
$tertiary-color-2: #a2d047;
$tertiary-color-3: #88bb23;
$tertiary-color-4: #6a9710;
$tertiary-color-5: #4c7200;

$primary-contrast-color-1: #fe8c8e;
$primary-contrast-color-2: #fd6266;
$primary-contrast-color-3: #e83b3f;
$primary-contrast-color-4: #cc161b;
$primary-contrast-color-5: #a1060a;

$secondary-contrast-color-1: #ffbf8c;
$secondary-contrast-color-2: #ffa863;
$secondary-contrast-color-3: #ea893b;
$secondary-contrast-color-4: #cd6716;
$secondary-contrast-color-5: #a24c06;

$tertiary-contrast-color-1: #de7ab4;
$tertiary-contrast-color-2: #a24c06;
$tertiary-contrast-color-3: #ba2f81;
$tertiary-contrast-color-4: #a31267;
$tertiary-contrast-color-5: #81054e;
